.card {
  width: 12em;
  height: fit-content;
  min-height: 25em;
  max-height: 25em;
  background-color: rgb(85,85,85);
  margin:10px;
  box-shadow: 0 1px 9px 0 rgb(0 0 0 / 45%);
  font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-wrap: break-word;
  padding: 10px;
  transition: 1s;
  cursor: pointer;
}

.section {
  position: absolute;
  top: 0px;
  left: 10px;
}

.subsection {
  position: absolute;
  top: 0px;
  right: 10px;
}

.card h2, h4 {
  user-select: none;
}
.card p {
  opacity: 0;
  position: absolute;
  user-select: none;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover h2 {
  opacity: 0;
  transition: 200ms;
}

.card:hover h4 {
  opacity: 0;
  transition: 200ms;
}

.card:hover p{
  opacity: 1;
  transition: 1s;
}