.card-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow-Y: auto;
  align-self: center;
  justify-content: center;
}

.error-loading {
  align-self: center;
  font-size: 36px;
}
